#root 
  max-width: 1950px
  margin: 0 0
  padding: 0 0

@font-face 
  font-family: "OCEANIC"
  src: url(../fonts/TRIAL_Oceanic-Regular.woff) format("woff")

@font-face 
  font-family: "MUSEOSANS"
  src: url(../fonts/MuseoSansCyrl-900.woff) format("woff")


.header 
  position: fixed
  margin: 15px 11px
  width: calc(100% - 22px) 
  height: 73px
  background-color: rgb(0, 0, 0)
  border-radius: 10px
  z-index: 15

.logo 
  position: absolute
  display: inline
  margin-left: calc(82px - 31px)
  margin-top: calc(34px - 25px)
  width: 389px
  height: 59px
  // background-color: rgb(60, 60, 60)
  background-image: url(../images/logo_main_white.png)
  background-size: contain
  background-repeat: no-repeat

.info_items 
  display: inline-block
  position: relative
  margin-left: calc(82px - 41px)
  margin-top: 75px
  width: calc(100% - (46px * 2))  
  height: calc(1080px - 250px)

.new_assortment 
  position: relative
  margin-top: 50px
  width: 100%  
  height: 360px
  background-color: transparent
  border: solid black
  border-radius: 10px
  z-index: 3

.left_title_assortment
  position: absolute
  margin-left: 74px
  margin-top: 35px
  font-size: 70px
  font-family: OCEANIC
  z-index: 2

.right_title_assortment
  text-align: right
  position: absolute
  margin-left: calc(100% - 334px)
  margin-top: 35px
  font-size: 70px
  font-family: OCEANIC
  z-index: 2

  
.background_decoration 
  position: absolute
  margin-left: -25px
  margin-top: 25px
  width: 632px
  height: 410px
  background-image: url(../images/curve_assort.png)
  background-size: contain
  background-repeat: no-repeat
  z-index: 1

.background_decoration.second
  margin-left: calc(100% - 455px)
  width: 450px
  background-image: url(../images/curve_demand.png)
  background-size: contain
  background-repeat: no-repeat

.background_decoration.second.area 
  background-image: none
  width: 650px
  margin-left: calc(100% - 655px)

.star 
  position: absolute
  width: 60px
  height: 60px
  background-size: contain
  background-repeat: no-repeat

.star.first 
  margin-left: calc(100% - 120px) 
  margin-top: 70px
  background-image: url(../images/stars_handdraw/star_5.png)

.star.second 
  margin-left: calc(100% - 90px) 
  margin-top: 300px
  background-image: url(../images/stars_handdraw/star_1.png)

.star.third 
  margin-left: calc(100% - 210px) 
  margin-top: 270px
  background-image: url(../images/stars_handdraw/star_2.png)
  width: 40px
  height: 40px

.star.four 
  margin-left: calc(100% - 280px) 
  margin-top: 325px
  background-image: url(../images/stars_handdraw/star_3.png)
  width: 45px
  height: 45px

.star.five 
  margin-left: 210px
  margin-top: 235px
  background-image: url(../images/stars_handdraw/star_4.png)
  width: 45px
  height: 45px

.a_dog 
  position: absolute
  width: 60px
  height: 60px
  background-size: contain
  background-repeat: no-repeat

.a_dog.first 
  margin-left: calc(100% - 120px) 
  margin-top: 240px
  width: 45px
  height: 45px
  background-image: url(../images/a_handdraw/a_1.png)

.a_dog.second 
  margin-left: calc(100% - 450px) 
  margin-top: 240px
  width: 47px
  height: 47px
  background-image: url(../images/a_handdraw/a_2.png)

.a_dog.third 
  margin-left: calc(100% - 565px) 
  margin-top: 310px
  width: 47px
  height: 47px
  background-image: url(../images/a_handdraw/a_3.png)

.a_dog.four 
  margin-left: calc(100% - 550px) 
  margin-top: 140px
  width: 75px
  height: 75px
  background-image: url(../images/a_handdraw/a_4.png)

.a_dog.five 
  margin-left: calc(100% - 350px) 
  margin-top: 70px
  width: 59px
  height: 59px
  background-image: url(../images/a_handdraw/a_5.png)



.item_area 
  display: flexbox
  flex-direction: row
  position: absolute
  margin-left: 570px
  margin-top: 20px
  width: calc(100% - 540px)
  height: 320px
  overflow: hidden

.item_area.left 
  margin-left: -40px

.item_release 
  display: inline-flex
  position: relative
  margin-left: 20px
  margin-top: 13px
  width: 290px
  height: 290px
  background-color: white
  border-radius: 10px
  border: solid black

.item_name
  position: absolute
  margin-top: 70%
  width: 100%
  height: 85px
  align-content: center

.item_text
  margin-left: 20px
  font-size: 20px
  font-family: MUSEOSANS

.item_image 
  position: absolute
  margin-top: 30px
  width: 100%
  height: 200px
  background-image: url(../images/missing_image.png)
  background-size: contain
  background-repeat: no-repeat
  // background-color: green

.item_background
  position: absolute
  margin-top: 30px
  width: 100%
  height: 200px
  background-image: url(../images/background_handdraw/background_curve.png)
  background-size: contain
  background-repeat: no-repeat

.item_mark_new 
  position: absolute
  margin-left: 10px
  margin-top: 10px
  width: 100px
  height: 30px
  background-color: #0cdda4
  border-radius: 10px
  text-align: center
  align-content: center

.item_mark_demand
  position: absolute
  margin-left: 10px
  margin-top: 10px
  width: 100px
  height: 30px
  background-color: #ffb535
  border-radius: 10px
  text-align: center
  align-content: center

.item_mark_text
  font-size: 22px
  font-family: MUSEOSANS
  color: white

.button_for_more 
  position: absolute
  margin-top: 270px
  margin-left: 75px
  width: 230px
  height: 60px
  background: black
  border-radius: 10px

.button_for_more.right 
  margin-left: calc(100% - 300px)

.upper_text_more_button
  position: absolute
  margin-left: 15px
  margin-top: 5px
  font-size: 25px
  font-family: OCEANIC
  color: white

.down_text_more_button
  position: absolute
  margin-left: 85px
  margin-top: 25px
  font-size: 25px
  font-family: OCEANIC
  color: white


// @keyframes logo-spin 
//   from 
//     transform: rotate(0deg)
  
//   to 
//     transform: rotate(360deg)
  


// @media (prefers-reduced-motion: no-preference) 
//   a:nth-of-type(2) .logo 
//     animation: logo-spin infinite 20s linear
  


// .card 
//   padding: 2em


// .read-the-docs 
//   color: #888

