#root 
  max-width: 1950px
  margin: 0 0
  padding: 0 0

@font-face 
  font-family: "OCEANIC"
  src: url(../fonts/TRIAL_Oceanic-Regular.woff) format("woff")

@font-face 
  font-family: "MUSEOSANS"
  src: url(../fonts/MuseoSansCyrl-900.woff) format("woff")


.header 
  position: fixed
  margin: 15px 11px
  width: calc(100% - 22px) 
  height: 73px
  background-color: rgb(0, 0, 0)
  border-radius: 10px
  z-index: 15

.blurred_background 
  animation: blur_exchange_open 0.5s forwards
  position: absolute
  backdrop-filter: blur(10px)
  width: 100%
  height: 100%
  z-index: 13

.header.small 
  animation: header_res_close 0.5s forwards
  margin: 15px calc(50% - 900px / 2)
  width: 900px

.main_content_login 
  position: absolute
  transform: translateY(-250%)
  animation: up_to_down_anim_next 1s forwards
  margin: 105px calc(50% - 900px / 2)
  width: 900px
  height: 473px
  background-color: rgb(255, 255, 255)
  background-image: url(../images/curve_login.png)
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  border-radius: 10px
  z-index: 15
  box-shadow: 0px 0px 35px -4px #000000

.left_area_login_decor
  display: flexbox
  flex-direction: row
  position: absolute
  margin-left: 25px
  margin-top: 25px
  width: 420px
  height: 400px


.right_area_login
  position: absolute
  margin-left: calc(100% - 382px - 40px)
  margin-top: 55px
  width: 382px
  height: 370px


.title_login 
  position: absolute
  margin-left: calc(100% - 150px)
  font-family: OCEANIC
  font-size: 65px

.input_login_area 
  display: flexbox
  flex-direction: column
  position: absolute
  margin-top: 90px
  width: 99%
  height: 276px
  border: solid black 2px
  border-radius: 10px
  backdrop-filter: blur(15px)
  animation: scale_anim_close_login 0.5s forwards
  &:hover
    animation: scale_anim_login 0.5s forwards

.login_button
  position: relative
  margin-left: 207px
  margin-top: 5px
  width: 137px
  height: 41px
  background-color: black
  border-radius: 10px
  text-align: center
  align-content: center
  cursor: pointer
  
.textarea_sideline
  position: relative
  margin-left: 15px
  margin-top: 0px
  width: calc(100% - (15px * 2))
  height: 180px

.input_sideline
  position: relative
  margin-left: 30px
  margin-top: 20px
  width: calc(100% - 60px)
  height: 100px

.input_sideline.smallspace
  margin-top: -10px

.input_sideline.add_panel
  margin-left: 15px
  margin-top: 20px
  width: calc(100% - (15px * 2))
  height: 100px

.input_sideline.add_panel.smallspace
  margin-top: 0px

.input_sideline.add_panel.value.smallspace
  margin-top: 0px
  width: calc(100% - (45px * 2))

.title_input
  margin-left: 5px
  margin-top: 8px
  position: absolute
  font-family: OCEANIC
  font-size: 25px
  user-select: none

.title_input.big
  margin-left: 0px
  margin-top: 0px
  font-size: 30px

.button_text_login
  user-select: none
  font-family: OCEANIC
  margin-left: -2px
  font-size: 23px
  color: white


.input_text 
  font-family: MUSEOSANS
  font-size: 24px
  margin-top: 40px
  position: absolute
  padding: 0px 10px
  width: calc(97% - 20px)
  height: 45px
  background-color: rgb(233, 233, 233)
  border: solid black 2px
  border-radius: 10px

.input_textarea 
  font-family: MUSEOSANS
  font-size: 24px
  margin-top: 40px
  position: absolute
  padding: 10px 10px
  width: calc(97% - 20px)
  height: 105px
  background-color: rgb(255, 255, 255)
  border: solid black 2px
  border-radius: 10px
  resize: none

.input_textarea.sizeopt
  display: flex
  flex-direction: row  
  flex-flow: wrap

.item_sizeopt
  font-size: 15px
  flex: none
  margin-left: 15px
  margin-top: 6px
  position: relative
  width: 62px
  height: 40px
  background-color: white
  border: solid black 1px
  border-radius: 5px
  text-align: center
  align-content: center
  user-select: none
  animation: scale_anim_close 0.5s forwards
  &:hover
    animation: scale_anim 0.5s forwards

.item_sizeopt.nospace
  margin-left: 0px

.input_text.whitefull
  background-color: rgb(255, 255, 255)

.value_money_block
  margin-top: 40px
  position: absolute
  padding: 0px 10px
  margin-left: calc(100% + 5px) 
  width: 25px
  height: 45px
  background-color: rgb(255, 255, 255)
  border: solid black 2px
  border-radius: 10px
  font-family: MUSEOSANS
  font-size: 24px
  text-align: center
  align-content: center
  user-select: none

.left_area_block 
  display: inline-flex
  position: relative
  margin-left: 30px
  margin-top: 30px
  width: 163px
  height: 163px
  background-color: white
  border: solid black 2px
  border-radius: 10px
  animation: scale_anim_close_login 0.5s forwards
  &:hover
    animation: scale_anim_login 0.5s forwards

.left_area_block.first
  background-image: url(../images/login_icons/icon_cart.png)
  background-size: 100px
  background-position: 25px
  background-repeat: no-repeat

.left_area_block.second
  background-image: url(../images/login_icons/icon_lock.png)
  background-size: 100px
  background-position: center
  background-repeat: no-repeat

.left_area_block.third
  background-image: url(../images/login_icons/sneakers.png)
  background-size: 120px
  background-position: center
  background-repeat: no-repeat

.left_area_block.four
  background-image: url(../images/login_icons/icon_pay.png)
  background-size: 120px
  background-position: 25px
  background-repeat: no-repeat

.header.normal 
  animation: header_res_open 0.5s forwards
  margin: 15px 11px
  width: calc(100% - 22px) 

@keyframes blur_exchange_open
  0%
    backdrop-filter: blur(0px)
  100%
    backdrop-filter: blur(10px)

@keyframes header_res_close
  0%
    margin: 15px 11px
    width: calc(100% - 22px) 
  100%
    margin: 15px calc(50% - 900px / 2)
    width: 900px


@keyframes header_res_open
  0%
    margin: 15px calc(50% - 900px / 2)
    width: 900px
  100%
    margin: 15px 11px
    width: calc(100% - 22px) 
   



.logo 
  position: absolute
  display: inline
  margin-left: calc(82px - 31px)
  margin-top: calc(34px - 25px)
  width: 389px
  height: 59px
  // background-color: rgb(60, 60, 60)
  background-image: url(../images/logo_main_white.png)
  background-size: contain
  background-repeat: no-repeat

.info_items 
  display: inline-block
  position: relative
  margin-left: calc(82px - 41px)
  margin-top: 75px
  width: calc(100% - (46px * 2))  
  height: calc(1080px - 250px)

.new_assortment 
  position: relative
  margin-top: 50px
  width: 100%  
  height: 360px
  background-color: transparent
  border: solid black
  border-radius: 10px
  z-index: 3

.left_title_assortment
  position: absolute
  margin-left: 74px
  margin-top: 35px
  font-size: 70px
  font-family: OCEANIC
  z-index: 2

.right_title_assortment
  text-align: right
  position: absolute
  margin-left: calc(100% - 334px)
  margin-top: 35px
  font-size: 70px
  font-family: OCEANIC
  z-index: 2

  
.background_decoration 
  position: absolute
  margin-left: -25px
  margin-top: 25px
  width: 632px
  height: 410px
  background-image: url(../images/curve_assort.png)
  background-size: contain
  background-repeat: no-repeat
  z-index: 1

.background_decoration.second
  margin-left: calc(100% - 455px)
  width: 450px
  background-image: url(../images/curve_demand.png)
  background-size: contain
  background-repeat: no-repeat

.background_decoration.second.area 
  background-image: none
  width: 650px
  margin-left: calc(100% - 655px)

.star 
  position: absolute
  width: 60px
  height: 60px
  background-size: contain
  background-repeat: no-repeat

.star.first 
  margin-left: calc(100% - 120px) 
  margin-top: 70px
  background-image: url(../images/stars_handdraw/star_5.png)

.star.second 
  margin-left: calc(100% - 90px) 
  margin-top: 300px
  background-image: url(../images/stars_handdraw/star_1.png)

.star.third 
  margin-left: calc(100% - 210px) 
  margin-top: 270px
  background-image: url(../images/stars_handdraw/star_2.png)
  width: 40px
  height: 40px

.star.four 
  margin-left: calc(100% - 280px) 
  margin-top: 325px
  background-image: url(../images/stars_handdraw/star_3.png)
  width: 45px
  height: 45px

.star.five 
  margin-left: 210px
  margin-top: 235px
  background-image: url(../images/stars_handdraw/star_4.png)
  width: 45px
  height: 45px

.a_dog 
  position: absolute
  width: 60px
  height: 60px
  background-size: contain
  background-repeat: no-repeat

.a_dog.first 
  margin-left: calc(100% - 120px) 
  margin-top: 240px
  width: 45px
  height: 45px
  background-image: url(../images/a_handdraw/a_1.png)

.a_dog.second 
  margin-left: calc(100% - 450px) 
  margin-top: 240px
  width: 47px
  height: 47px
  background-image: url(../images/a_handdraw/a_2.png)

.a_dog.third 
  margin-left: calc(100% - 565px) 
  margin-top: 310px
  width: 47px
  height: 47px
  background-image: url(../images/a_handdraw/a_3.png)

.a_dog.four 
  margin-left: calc(100% - 550px) 
  margin-top: 140px
  width: 75px
  height: 75px
  background-image: url(../images/a_handdraw/a_4.png)

.a_dog.five 
  margin-left: calc(100% - 350px) 
  margin-top: 70px
  width: 59px
  height: 59px
  background-image: url(../images/a_handdraw/a_5.png)



.item_area 
  display: flexbox
  flex-direction: row
  position: absolute
  margin-left: 570px
  margin-top: 20px
  width: calc(100% - 535px)
  height: 320px
  overflow: hidden

.item_area.left 
  margin-left: -40px

.item_release 
  display: inline-flex
  position: relative
  margin-left: 20px
  margin-top: 13px
  width: 290px
  height: 290px
  background-color: white
  border-radius: 10px
  border: solid black
  animation: scale_anim_close_item 0.5s forwards
  &:hover
     animation: scale_anim_item 0.5s forwards
 

.item_name
  position: absolute
  margin-top: 70%
  width: 100%
  height: 85px
  align-content: center

.item_text
  margin-left: 20px
  font-size: 20px
  font-family: MUSEOSANS

.item_image 
  position: absolute
  margin-top: 30px
  width: 100%
  height: 200px
  background-image: url(../images/missing_image.png)
  background-size: contain
  background-repeat: no-repeat
  // background-color: green

.item_background
  position: absolute
  margin-top: 30px
  width: 100%
  height: 200px
  background-image: url(../images/background_handdraw/background_curve.png)
  background-size: contain
  background-repeat: no-repeat

.item_mark_new 
  position: absolute
  margin-left: 10px
  margin-top: 10px
  width: 100px
  height: 30px
  background-color: #0cdda4
  border-radius: 10px
  text-align: center
  align-content: center

.item_mark_demand
  position: absolute
  margin-left: 10px
  margin-top: 10px
  width: 100px
  height: 30px
  background-color: #ffb535
  border-radius: 10px
  text-align: center
  align-content: center

.item_mark_text
  font-size: 22px
  font-family: MUSEOSANS
  color: white

.button_for_more 
  position: absolute
  margin-top: 270px
  margin-left: 75px
  width: 230px
  height: 60px
  background: black
  border-radius: 10px

.button_for_more.right 
  margin-left: calc(100% - 300px)

.upper_text_more_button
  position: absolute
  margin-left: 15px
  margin-top: 5px
  font-size: 25px
  font-family: OCEANIC
  color: white

.down_text_more_button
  position: absolute
  margin-left: 85px
  margin-top: 25px
  font-size: 25px
  font-family: OCEANIC
  color: white

.profile_area 
  position: absolute
  align-content: center
  text-align: right
  margin-left: calc(100% - 300px)
  width: 240px
  height: 70px
  cursor: pointer
  user-select: none
  
.text_login
  margin-right: 10px
  font-size: 20px
  font-family: MUSEOSANS
  color: white

.text_login.margined
  margin-right: 70px

.avatar_mini 
  position: absolute
  margin-left: calc(100% - 120px)
  margin-top: 12px
  width: 45px
  height: 45px
  border-radius: 50px
  z-index: 0
  cursor: pointer
  background-image: url(../images/def_user.png)
  background-size: contain
  background-repeat: no-repeat

.login_area 
  position: absolute
  z-index: 14
  width: 100%
  height: 100%
  background-color: pink

.miniProfile 
  transform: translateY(-250%)
  animation: up_to_down_anim_next 1s forwards
  display: flex
  flex-direction: column
  position: absolute
  margin-left: calc(100% - 310px)
  width: 300px
  height: 240px
  background-color: black
  border-radius: 10px
  border: solid rgb(255, 255, 255) 2px
  box-shadow: 0px 0px 35px -4px #000000

.miniProfile.closed
  animation: opacity_anim_closed 0.9s forwards

.button_profile
  margin-top: 20px
  margin-left: 10px
  position: relative
  width: calc(100% - 25px)
  height: 70px
  background-color: black
  border-radius: 10px
  border: solid white 2px
  cursor: pointer
  animation: scale_anim_close 0.5s forwards
  &:hover
    animation: scale_anim 0.5s forwards

.button_profile.closed
  animation: none

@keyframes up_to_down_anim_next
  0%
    transform: translateY(-250%)
  100%
    transform: translateY(0)

@keyframes opacity_anim_closed
  0%
    transform: translateY(0)
  100%
    transform: translateY(-250%)

@keyframes up_to_down_anim
  0%
    transform: translateY(-50%)
  100%
    transform: translateY(0)

@keyframes scale_anim
  from
    transform: scale(1)
  to
    transform: scale(1.2)

@keyframes scale_anim_close
  from
    transform: scale(1.2)
  to
    transform: scale(1)

@keyframes scale_anim_login
  from
    transform: scale(1)
  to
    transform: scale(1.05)

@keyframes scale_anim_close_login
  from
    transform: scale(1.05)
  to
    transform: scale(1)

@keyframes scale_anim_item
  from
    transform: scale(1)
  to
    transform: scale(1.02)

@keyframes scale_anim_close_item
  from
    transform: scale(1.02)
  to
    transform: scale(1)

.text_button_profile
  margin-left: 20px
  margin-top: 12px
  font-size: 20px
  font-family: MUSEOSANS
  color: white
  user-select: none


.text_button_profile.title
  text-align: center
  margin-top: 20px
  margin-right: 25px

.text_button_profile.down
  margin-top: 0px
  font-family: OCEANIC
  font-size: 20px
  color: rgba(220, 220, 220)

.title_section_panel
  position: absolute
  margin-top: 105px
  margin-left: 305px
  width: 400px
  height: 60px
  font-family: OCEANIC
  font-size: 50px

.left_panel_manager
  position: fixed
  margin-left: 11px
  margin-top: 100px
  width: 256px
  height: calc(100% - 110px)
  background-color: black
  border-radius: 10px

.add_section_panel_mainblock
  display: flex
  flex-direction: column
  flex: none
  position: relative
  width: 364px
  height: 713px
  margin-top: 105px
  border-radius: 10px
  border: solid black 2px

  
.add_section_panel_secondblock
  position: relative
  flex: none
  width: calc(100% - 364px - 20px * 2)
  height: 576px
  margin-top: 105px
  margin-left: 20px
  border-radius: 10px
  border: solid black 2px

.add_section_panel_thirdblock
  position: absolute
  flex: none
  width: calc(100% - 364px - 20px * 2)
  height: 105px
  margin-left: calc(20px + 368px)
  margin-top: calc(105px + 576px + 30px)
  border-radius: 10px
  border: solid black 2px



.main_area_manager
  position: absolute 
  display: flex
  flex-wrap: wrap
  margin-left: 290px
  margin-top: 100px
  width: calc(100% - 305px) 
  height: calc(100% - 110px)

.area_of_buttons_panel 
  display: flex
  flex-direction: column
  position: absolute
  width: 100%
  height: 100%


.title_group_panel 
  position: relative
  margin-top: 10px
  padding-left: 15px
  width: calc(100% - 15px)
  height: 60px
  align-content: center
  font-family: OCEANIC
  font-size: 27px
  color: white

.button_panel_with_icon 
  position: relative
  margin-top: 15px
  margin-left: 15px
  width: calc(100% - (15px * 2) - 5px)
  height: 50px
  border: solid white 1px
  border-radius: 10px
  bottom: 20px
  background-color: black
  animation: animation_button_panel_end 0.5s forwards
  &:hover
     animation: animation_button_panel_start 0.5s forwards

.button_panel_with_icon.active
  background-color: #0cdda59c
  margin-left: 0px
  width: 100%
  border-radius: 0px
  animation: animation_button_panel_start_active 0.5s forwards



@keyframes animation_button_panel_start_active
  from
    margin-left: 15px
    width: calc(100% - (15px * 2) - 5px)
    border-radius: 10px
    background-color: black
  to
    background-color: #0cdda59c
    margin-left: 0px
    width: 100%
    border-radius: 0px


@keyframes animation_button_panel_start
  from
    transform: scale(1)
    border: solid white 1px
  to
    transform: scale(1.05)
    border: solid #0cdda4 1px

@keyframes animation_button_panel_end
  from
    transform: scale(1.05)
  to
    transform: scale(1)

.text_area_button_panel 
  position: absolute
  margin-left: 28%
  margin-top: 14px
  font-size: 18px
  color: white
  font-family: MUSEOSANS
  user-select: none

.vertical_line_button_panel 
  position: absolute
  width: 1px
  height: 30px
  margin-top: 10px
  margin-left: 47px
  background-color: white

.indicator_button_active_panel
  position: absolute
  width: 35px
  height: 35px
  margin-left: calc(100% - 45px)
  margin-top: 7px 
  background-size: 28px
  background-image: url(../images/stars_handdraw/star_4_white.png)
  background-position: center
  background-repeat: no-repeat

.icon_area_button_panel 
  position: absolute
  width: 35px
  height: 35px
  margin-left: 7px
  margin-top: 7px
  background-size: 28px
  background-position: center
  background-repeat: no-repeat

.icon_area_button_panel.add_button
  background-size: 23px
  background-image: url(../images/panel_icons/plus_icon.png)


.icon_area_button_panel.change_button
  background-image: url(../images/panel_icons/change_icon.png)

.icon_area_button_panel.sale_button
  background-size: 23px
  background-image: url(../images/panel_icons/sale_icon.png)

.icon_area_button_panel.garant_button
  background-size: 33px
  background-image: url(../images/panel_icons/garant_icon.png)

.icon_area_button_panel.spros_button
  background-size: 26px
  background-image: url(../images/panel_icons/spros_icon.png)

// @keyframes logo-spin 
//   from 
//     transform: rotate(0deg)
  
//   to 
//     transform: rotate(360deg)
  


// @media (prefers-reduced-motion: no-preference) 
//   a:nth-of-type(2) .logo 
//     animation: logo-spin infinite 20s linear
  


// .card 
//   padding: 2em


// .read-the-docs 
//   color: #888

