#root 
  max-width: 1950px
  margin: 0 0
  padding: 0 0

@font-face 
  font-family: "OCEANIC"
  src: url(../fonts/TRIAL_Oceanic-Regular.woff) format("woff")

@font-face 
  font-family: "MUSEOSANS"
  src: url(../fonts/MuseoSansCyrl-900.woff) format("woff")


.context_menu_area
  animation: blur_exchange_open_context 0.5s forwards
  position: absolute
  border: 1px solid black
  backdrop-filter: blur(10px)
  width: 160px
  height: 115px
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
  flex: none
  border-radius: 10px
  z-index: 1000
  

.context_menu_secarea
  display: flex 
  position: absolute
  flex-direction: column
  width: 100%
  height: 100%
  animation: button_context_down 1.0s forwards
  overflow: hidden

@keyframes blur_exchange_open_context
  0%
    width: 0px
    height: 0px
    backdrop-filter: blur(0px)
  100%
    width: 160px
    height: 115px
    backdrop-filter: blur(10px)

@keyframes button_context_down
  0%
    opacity: 0
    transform: translateY(-50px)
  50%
    opacity: 0
    transform: translateY(-50px)
  100%
    transform: translateY(0px)
    opacity: 1
    overflow: visible

.context_buttons
  font-family: MUSEOSANS
  font-size: 15px
  position: relative
  margin-left: 8px
  margin-top: 10px
  color: white
  width: calc(100% - 20px)
  height: 40px
  backdrop-filter: blur(10px)
  background-color: rgba(0, 0, 0, 0.3)
  border: 1px solid black
  border-radius: 10px
  text-align: center
  align-content: center
  user-select: none
  animation: scale_anim_close_login 0.5s forwards
  &:hover
    animation: scale_anim_login 0.5s forwards

.context_buttons.red
  background-color: rgba(121, 13, 13, 0.5)
  border: 1px solid rgba(255, 0, 0, 0.5)
  color: rgb(255, 255, 255)

.header 
  position: fixed
  margin: 15px 11px
  width: calc(100% - 22px) 
  height: 73px
  background-color: rgb(0, 0, 0)
  border-radius: 10px
  z-index: 15

.header.fullsize
  background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.9))
  backdrop-filter: blur(13px)
  position: fixed
  height: 70vh
  border-radius: 20px
  animation: header_fullsized 1.2s forwards
  overflow: hidden

.header_item_preview_separator
  position: absolute
  margin-top: 171px
  margin-left: 176px
  width: calc(100% - 171px * 2)
  height: 2px
  background-color: #676767

.header_item_preview_title
  font-family: MUSEOSANS
  align-content: center
  font-size: 22px
  position: absolute
  margin-top: 121px
  margin-left: 176px
  width: 200px
  height: 50px
  color: white
  user-select: none

.header_item_preview_button_back
  font-family: MUSEOSANS
  align-content: center
  font-size: 22px
  position: absolute
  margin-top: 121px
  margin-left: calc(100% - 285px)
  width: 200px
  height: 50px
  color: white
  user-select: none

.header_item_preview_area
  position: absolute
  margin-top: 171px
  margin-left: 176px
  width: calc(100% - 171px * 2)
  height: calc(100% - 100px * 2)
  


.header_item_preview_area_title
  position: absolute
  margin-top: 45px
  margin-left: 10px
  color: white
  font-family: MUSEOSANS
  align-content: center
  font-size: 33px
  width: 766px
  height: 90px

.header_item_preview_area_image 
  position: absolute
  margin-top: 155px
  margin-left: 10px
  color: white
  font-family: MUSEOSANS
  align-content: center
  font-size: 33px
  width: 766px
  height: 410px
  background-color: white
  border-radius: 10px
  border: solid black 1px
  

@keyframes header_fullsized
  0%
    position: fixed
    margin: 15px 11px
    width: calc(100% - 22px) 
    height: 73px
    background-color: rgb(0, 0, 0)
    border-radius: 10px
    z-index: 15
  100%
    background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.9))
    backdrop-filter: blur(13px)
    position: fixed
    height: 90vh
    border-radius: 20px

.blurred_background 
  animation: blur_exchange_open 0.5s forwards
  position: absolute
  backdrop-filter: blur(10px)
  width: 100%
  height: 100%
  z-index: 13

.image_upload_panel_popup
  position: absolute
  margin-left: calc(50% - 500px / 2)
  margin-top: calc(15%)
  width: 500px
  height: 300px
  background-color: white
  border: dashed black 2px
  box-shadow: 0px 0px 35px -4px #0000007c
  border-radius: 10px
  text-align: center
  align-content: center
  font-family: MUSEOSANS
  font-size: 26px
  z-index: 14
  animation: block_exchange_open 0.5s forwards

.exit_image_upload_panel 
  position: absolute
  margin-left: calc(50% - 500px / 2 + 10px)
  margin-top: calc(15% + 10px)
  width: 45px
  height: 45px
  font-size: 30px
  z-index: 15
  background-image: url(../images/back_button.png)
  background-position: center
  background-size: contain
  animation: scale_anim_close 0.5s forwards
  user-select: none
  &:hover
    animation: scale_anim 0.5s forwards

.header.small 
  animation: header_res_close 0.5s forwards
  margin: 15px calc(50% - 900px / 2)
  width: 900px

.main_content_login 
  position: absolute
  transform: translateY(-250%)
  animation: up_to_down_anim_next 1s forwards
  margin: 105px calc(50% - 900px / 2)
  width: 900px
  height: 473px
  background-color: rgb(255, 255, 255)
  background-image: url(../images/curve_login.png)
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  border-radius: 10px
  z-index: 15
  box-shadow: 0px 0px 35px -4px #000000

.left_area_login_decor
  display: flexbox
  flex-direction: row
  position: absolute
  margin-left: 25px
  margin-top: 25px
  width: 420px
  height: 400px


.right_area_login
  position: absolute
  margin-left: calc(100% - 382px - 40px)
  margin-top: 55px
  width: 382px
  height: 370px


.title_login 
  position: absolute
  margin-left: calc(100% - 150px)
  font-family: OCEANIC
  font-size: 65px

.input_login_area 
  display: flexbox
  flex-direction: column
  position: absolute
  margin-top: 90px
  width: 99%
  height: 276px
  border: solid black 2px
  border-radius: 10px
  backdrop-filter: blur(15px)
  animation: scale_anim_close_login 0.5s forwards
  &:hover
    animation: scale_anim_login 0.5s forwards

.login_button
  position: relative
  margin-left: 207px
  margin-top: 5px
  width: 137px
  height: 41px
  background-color: black
  border-radius: 10px
  text-align: center
  align-content: center
  cursor: pointer
  
.textarea_sideline
  position: relative
  margin-left: 15px
  margin-top: 0px
  width: calc(100% - (15px * 2))
  height: 180px
  animation: scale_anim_close_item 0.5s forwards
  &:hover
    animation: scale_anim_item 0.5s forwards

.textarea_sideline.sizeopt
  height: 145px

.buttonarea_sideline
  display: flex
  flex-direction: row
  position: relative
  margin-left: 15px
  margin-top: 5px
  width: calc(100% - (15px * 2))
  height: 40px
  user-select: none
  animation: scale_anim_close_item 0.5s forwards
  &:hover
    animation: scale_anim_item 0.5s forwards

.buttonarea_sideline_text
  font-family: MUSEOSANS
  font-size: 22px
  margin-left: 5px
  align-content: center
  width: 280px
  height: 40px

.buttonarea_sideline_button
  margin-left: 5px
  margin-top: 7px
  width: 20px
  height: 20px
  background-color: white
  border: solid black 3px
  border-radius: 5px

.buttonarea_complete
  margin-top: 10px
  margin-left: 9px
  width: calc(100% - 20px)
  height: 60px
  background-color: black
  border-radius: 10px
  color: white
  font-family: MUSEOSANS
  font-size: 25px
  align-content: center
  text-align: center
  animation: scale_anim_close_login 0.5s forwards
  user-select: none
  &:hover
    animation: scale_anim_login 0.5s forwards

.buttonarea_sideline_button.clicked
  background-color: #0cdda5e0
  animation: scale_anim_close 0.5s forwards


.input_sideline
  position: relative
  margin-left: 30px
  margin-top: 20px
  width: calc(100% - 60px)
  height: 100px

.input_sideline.smallspace
  margin-top: -10px

.input_sideline.add_panel
  margin-left: 15px
  margin-top: 20px
  width: calc(100% - (15px * 2))
  height: 100px
  animation: scale_anim_close_item 0.5s forwards
  &:hover
    animation: scale_anim_item 0.5s forwards

.input_sideline.add_panel.smallspace
  margin-top: 0px

.input_sideline.add_panel.value.smallspace
  margin-top: 0px
  width: calc(100% - (45px * 2))

.title_input
  margin-left: 5px
  margin-top: 8px
  position: absolute
  font-family: OCEANIC
  font-size: 25px
  user-select: none

.title_input.big
  margin-left: 0px
  margin-top: 0px
  font-size: 30px

.button_text_login
  user-select: none
  font-family: OCEANIC
  margin-left: -2px
  font-size: 23px
  color: white


.input_text 
  font-family: MUSEOSANS
  font-size: 24px
  margin-top: 40px
  position: absolute
  padding: 0px 10px
  width: calc(97% - 20px)
  height: 45px
  background-color: rgb(233, 233, 233)
  border: solid black 2px
  border-radius: 10px

.input_textarea 
  font-family: MUSEOSANS
  font-size: 24px
  margin-top: 40px
  position: absolute
  padding: 10px 10px
  width: calc(97% - 20px)
  height: 105px
  background-color: rgb(255, 255, 255)
  border: solid black 2px
  border-radius: 10px
  resize: none

.input_textarea.sizeopt
  display: flex
  flex-direction: row  
  flex-flow: wrap
  height: 80px

.item_sizeopt
  font-size: 15px
  flex: none
  margin-left: 15px
  margin-top: 5px
  position: relative
  width: 62px
  height: 30px
  background-color: white
  // border: solid black 1px
  border-radius: 5px
  text-align: center
  align-content: center
  user-select: none
  animation: scale_anim_close 0.5s forwards
  &:hover
    animation: scale_anim 0.5s forwards

.item_sizeopt.clicked
  border: solid black 1px
  width: 60px
  height: 28px
  &:hover
    animation: scale_anim_close 0.5s forwards
  
.item_sizeopt.nospace
  margin-left: 0px

.item_sizeopt.nospace.clicked
  border: solid black 1px

.input_text.whitefull
  background-color: rgb(255, 255, 255)

.value_money_block
  margin-top: 40px
  position: absolute
  padding: 0px 10px
  margin-left: calc(100% + 5px) 
  width: 25px
  height: 45px
  background-color: rgb(255, 255, 255)
  border: solid black 2px
  border-radius: 10px
  font-family: MUSEOSANS
  font-size: 24px
  text-align: center
  align-content: center
  user-select: none

.left_area_block 
  display: inline-flex
  position: relative
  margin-left: 30px
  margin-top: 30px
  width: 163px
  height: 163px
  background-color: white
  border: solid black 2px
  border-radius: 10px
  animation: scale_anim_close_login 0.5s forwards
  &:hover
    animation: scale_anim_login 0.5s forwards

.left_area_block.first
  background-image: url(../images/login_icons/icon_cart.png)
  background-size: 100px
  background-position: 25px
  background-repeat: no-repeat

.left_area_block.second
  background-image: url(../images/login_icons/icon_lock.png)
  background-size: 100px
  background-position: center
  background-repeat: no-repeat

.left_area_block.third
  background-image: url(../images/login_icons/sneakers.png)
  background-size: 120px
  background-position: center
  background-repeat: no-repeat

.left_area_block.four
  background-image: url(../images/login_icons/icon_pay.png)
  background-size: 120px
  background-position: 25px
  background-repeat: no-repeat

.header.normal 
  animation: header_res_open 0.5s forwards
  margin: 15px 11px
  width: calc(100% - 22px) 

@keyframes blur_exchange_open
  0%
    backdrop-filter: blur(0px)
  100%
    backdrop-filter: blur(10px)

@keyframes block_exchange_open
  0%
    opacity: 0
  100%
    opacity: 1


@keyframes header_res_close
  0%
    margin: 15px 11px
    width: calc(100% - 22px) 
  100%
    margin: 15px calc(50% - 900px / 2)
    width: 900px


@keyframes header_res_open
  0%
    margin: 15px calc(50% - 900px / 2)
    width: 900px
  100%
    margin: 15px 11px
    width: calc(100% - 22px) 
   



.logo 
  position: absolute
  display: inline
  margin-left: calc(82px - 31px)
  margin-top: calc(34px - 25px)
  width: 389px
  height: 59px
  // background-color: rgb(60, 60, 60)
  background-image: url(../images/logo_main_white.png)
  background-size: contain
  background-repeat: no-repeat

.info_items 
  display: inline-block
  position: relative
  margin-left: calc(82px - 41px)
  margin-top: 75px
  width: calc(100% - (46px * 2))  
  height: calc(1080px - 250px)
 

.new_assortment 
  position: relative
  margin-top: 50px
  
  width: 100%  
  height: 360px
  background-color: transparent
  border: solid black
  border-radius: 10px
  z-index: 3
  overflow: hidden

.left_title_assortment
  position: absolute
  margin-left: 74px
  margin-top: 35px
  font-size: 65px
  font-family: OCEANIC
  z-index: 2

.right_title_assortment
  text-align: right
  position: absolute
  margin-left: calc(100% - 334px)
  margin-top: 35px
  font-size: 70px
  font-family: OCEANIC
  z-index: 2

  
.background_decoration 
  position: absolute
  margin-left: -25px
  margin-top: 25px
  width: 632px
  height: 410px
  background-image: url(../images/curve_assort.png)
  background-size: contain
  background-repeat: no-repeat
  z-index: 1

.background_decoration.second
  margin-left: calc(100% - 455px)
  width: 450px
  background-image: url(../images/curve_demand.png)
  background-size: contain
  background-repeat: no-repeat

.background_decoration.second.area 
  background-image: none
  width: 650px
  margin-left: calc(100% - 655px)

.star 
  position: absolute
  width: 60px
  height: 60px
  background-size: contain
  background-repeat: no-repeat

.star.first 
  margin-left: calc(100% - 120px) 
  margin-top: 70px
  background-image: url(../images/stars_handdraw/star_5.png)

.star.second 
  margin-left: calc(100% - 90px) 
  margin-top: 300px
  background-image: url(../images/stars_handdraw/star_1.png)

.star.third 
  margin-left: calc(100% - 210px) 
  margin-top: 270px
  background-image: url(../images/stars_handdraw/star_2.png)
  width: 40px
  height: 40px

.star.four 
  margin-left: calc(100% - 280px) 
  margin-top: 325px
  background-image: url(../images/stars_handdraw/star_3.png)
  width: 45px
  height: 45px

.star.five 
  margin-left: 210px
  margin-top: 235px
  background-image: url(../images/stars_handdraw/star_4.png)
  width: 45px
  height: 45px

.a_dog 
  position: absolute
  width: 60px
  height: 60px
  background-size: contain
  background-repeat: no-repeat

.a_dog.first 
  margin-left: calc(100% - 120px) 
  margin-top: 240px
  width: 45px
  height: 45px
  background-image: url(../images/a_handdraw/a_1.png)

.a_dog.second 
  margin-left: calc(100% - 450px) 
  margin-top: 240px
  width: 47px
  height: 47px
  background-image: url(../images/a_handdraw/a_2.png)

.a_dog.third 
  margin-left: calc(100% - 565px) 
  margin-top: 310px
  width: 47px
  height: 47px
  background-image: url(../images/a_handdraw/a_3.png)

.a_dog.four 
  margin-left: calc(100% - 550px) 
  margin-top: 140px
  width: 75px
  height: 75px
  background-image: url(../images/a_handdraw/a_4.png)

.a_dog.five 
  margin-left: calc(100% - 350px) 
  margin-top: 70px
  width: 59px
  height: 59px
  background-image: url(../images/a_handdraw/a_5.png)



.item_area 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  position: absolute
  margin-left: 520px
  margin-top: 20px
  width: calc(100% - 535px)
  height: 320px
  overflow-block: hidden

.item_area.left 
  margin-left: 0px

.item_release 
  flex: none
  display: inline-flex
  position: relative
  margin-left: 20px
  top: -20px
  margin-top: 33px
  width: 290px
  height: 290px
  backdrop-filter: blur(10px)
  border-radius: 10px
  border: solid black
  animation: scale_anim_close_item 0.5s forwards
  &:hover
     animation: scale_anim_item 0.5s forwards


@keyframes item_release_info
  0%
    transform: scale(1.02)
    z-index: 2
  100%
    transform: scale(1.2)
    z-index: 2

@keyframes item_release_info_close
  0%
    transform: scale(1.2)
    z-index: 2
  100%
    transform: scale(1.02)
    z-index: 2
    


.item_release.info
  animation: item_release_info 0.5s forwards




  
.item_release.close 
  animation: item_release_info_close 0.9s forwards

.item_loading_bar 
  position: absolute
  margin-top: calc(100% + 5px)
  width: 100%
  height: 4px
  background-color: #666666f6
  border-radius: 5px
 

.item_loading_bar_progress
  position: absolute
  width: 100%
  height: 100%
  background-color: #0cdda5e0
  animation: loading_bar 1s forwards

.item_loading_bar_progress.rich
  background-color: #aea06a

@keyframes loading_bar
  0%
    width: 0%
  100%
    width: 100%

.item_release.rich
  border: solid #aea06a
  backdrop-filter: none
  background-color: #272621

.item_price 
  position: absolute
  margin-top: calc(70% + 10px)
  margin-left: 5px
  width: 200px
  height: 60px
  border-radius: 10px
  border: solid black 1px
  align-content: center
  text-align: center

.item_price.rich
  backdrop-filter: blur(10px)
  color: #bbb291
  border: solid #aea06a 1px
  height: 45px
  
@keyframes item_close_price
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translateY(50px)

.item_price.close
  animation: item_close_price 0.5s forwards


.item_name
  // backdrop-filter: blur(10px)
  position: absolute
  margin-top: 70%
  width: calc(100% - 20px)
  height: 85px
  align-content: center



.item_name.info
  margin-top: 73px
  rotate: 90deg
  margin-left: 145px
  width: 185px
  height: 65px
  border: solid black 1px
  border-radius: 10px
  padding-right: 15px
  animation: item_info_open 0.5s forwards

.item_name.info.rich
  margin-top: 73px
  backdrop-filter: blur(10px)
  margin-left: 145px
  rotate: 90deg
  border: solid #aea06a 1px
  width: 185px
  height: 65px
  border-radius: 10px
  padding-right: 15px
  animation: item_info_open_rich 0.5s forwards

.item_name.info.close
  border: none
  animation: item_info_close 0.5s forwards

.item_name.rich.info.close
  animation: item_info_close_rich 0.5s forwards

@keyframes item_info_close
  0%
    margin-top: 73px
    rotate: 90deg
    margin-left: 145px
    width: 185px
    height: 65px
    padding-right: 15px
  100%
    position: absolute
    rotate: 0deg
    margin-left: 0px
    margin-top: 70%
    width: calc(100% - 20px)
    height: 85px
    align-content: center

@keyframes item_info_open
  0%
    position: absolute
    rotate: 0deg
    margin-left: 0px
    margin-top: 70%
    width: calc(100% - 20px)
    height: 85px
    align-content: center
  100%
    margin-top: 73px
    rotate: 90deg
    margin-left: 145px
    width: 185px
    height: 65px
    padding-right: 15px
  

@keyframes item_info_close_rich
  0%
    margin-top: 73px
    rotate: 90deg
    margin-left: 145px
    width: 185px
    height: 65px
    padding-right: 15px
  100%
    padding-right: 5px
    rotate: 0deg
    margin-top: 69%
    backdrop-filter: blur(10px)
    margin-left: 15px
    width: calc(100% - 16px * 2 - 5px)
    border: solid #aea06a 1px
    height: 58px
    border-radius: 10px

@keyframes item_info_open_rich
  0%
    padding-right: 5px
    rotate: 0deg
    margin-top: 69%
    backdrop-filter: blur(10px)
    margin-left: 15px
    width: calc(100% - 16px * 2 - 5px)
    border: solid #aea06a 1px
    height: 58px
    border-radius: 10px
  100%
    margin-top: 73px
    rotate: 90deg
    margin-left: 145px
    width: 185px
    height: 65px
    padding-right: 15px
  

.item_name.rich
  padding-right: 5px
  margin-top: 69%
  backdrop-filter: blur(10px)
  margin-left: 15px
  width: calc(100% - 16px * 2 - 5px)
  border: solid #aea06a 1px
  height: 58px
  border-radius: 10px

  

.item_text
  margin-left: 15px
  font-size: 18px
  font-family: MUSEOSANS

.item_text.info
  font-size: 14px

.item_text.info_sec
  font-family: OCEANIC
  margin-left: -10px
  font-size: 23px

.item_text.rich
  font-family: OCEANIC
  font-size: 16px
  margin-left: 8px
  color: #bbb291

.item_image 
  position: absolute
  margin-top: 30px
  width: 100%
  height: 200px
  background-image: url(../images/missing_image.png)
  background-size: contain
  background-repeat: no-repeat

.item_image.start
  animation: item_image_open 0.5s forwards 

.item_image.close 
  animation: item_image_close 0.5s forwards
  
@keyframes item_image_close
  0%
    margin-top: 5px
    margin-left: 5px
    width: 200px
    height: 200px
  100%
    margin-top: 30px
    margin-left: 0px
    width: 100%
    height: 200px

@keyframes item_image_open
  0%
    margin-top: 30px
    margin-left: 0px
    width: 100%
    height: 200px
  100%
    margin-top: 5px
    margin-left: 5px
    width: 200px
    height: 200px


.item_background
  position: absolute
  margin-top: 30px
  width: 100%
  height: 200px
  animation: block_exchange_open 1s forwards
  
  background-image: url(../images/background_handdraw/background_curve.png)
  background-size: contain
  background-repeat: no-repeat

.item_rich 
  position: absolute
  width: 100%
  height: 100%
  background-image: url(../images/item_decoration.png)
  background-size: contain
  background-repeat: no-repeat

.item_mark_new 
  position: absolute
  margin-left: 10px
  margin-top: 10px
  width: 100px
  height: 30px
  background-color: #0cdda4
  border-radius: 10px
  text-align: center
  align-content: center
  z-index: 1

.item_mark_demand
  position: absolute
  margin-left: 10px
  margin-top: 10px
  width: 100px
  height: 30px
  background-color: #ffb535
  border-radius: 10px
  text-align: center
  align-content: center
  z-index: 1

.item_mark_text
  font-size: 22px
  font-family: MUSEOSANS
  color: white

.button_for_more 
  position: absolute
  margin-top: 270px
  margin-left: 75px
  width: 230px
  height: 60px
  background: black
  border-radius: 10px

.button_for_more.right 
  margin-left: calc(100% - 300px)

.upper_text_more_button
  position: absolute
  margin-left: 15px
  margin-top: 5px
  font-size: 25px
  font-family: OCEANIC
  color: white

.down_text_more_button
  position: absolute
  margin-left: 85px
  margin-top: 25px
  font-size: 25px
  font-family: OCEANIC
  color: white

.profile_area 
  position: absolute
  align-content: center
  text-align: right
  margin-left: calc(100% - 300px)
  width: 240px
  height: 70px
  cursor: pointer
  user-select: none
  
.text_login
  margin-right: 10px
  font-size: 20px
  font-family: MUSEOSANS
  color: white

.text_login.margined
  margin-right: 70px

.avatar_mini 
  position: absolute
  margin-left: calc(100% - 120px)
  margin-top: 12px
  width: 45px
  height: 45px
  border-radius: 50px
  z-index: 0
  cursor: pointer
  background-image: url(../images/def_user.png)
  background-size: contain
  background-repeat: no-repeat

.login_area 
  position: absolute
  z-index: 14
  width: 100%
  height: 100%
  background-color: pink

.miniProfile 
  transform: translateY(-250%)
  animation: up_to_down_anim_next 1s forwards
  display: flex
  flex-direction: column
  position: absolute
  margin-left: calc(100% - 310px)
  width: 300px
  height: 240px
  background-color: black
  border-radius: 10px
  border: solid rgb(255, 255, 255) 2px
  box-shadow: 0px 0px 35px -4px #000000

.miniProfile.closed
  animation: opacity_anim_closed 0.9s forwards

.button_profile
  margin-top: 20px
  margin-left: 10px
  position: relative
  width: calc(100% - 25px)
  height: 70px
  background-color: black
  border-radius: 10px
  border: solid white 2px
  cursor: pointer
  animation: scale_anim_close 0.5s forwards
  &:hover
    animation: scale_anim 0.5s forwards

.button_profile.closed
  animation: none

@keyframes up_to_down_anim_next
  0%
    transform: translateY(-250%)
  100%
    transform: translateY(0)

@keyframes opacity_anim_closed
  0%
    transform: translateY(0)
  100%
    transform: translateY(-250%)

@keyframes up_to_down_anim
  0%
    transform: translateY(-50%)
  100%
    transform: translateY(0)

@keyframes scale_anim
  from
    transform: scale(1)
  to
    transform: scale(1.2)

@keyframes scale_anim_close
  from
    transform: scale(1.2)
  to
    transform: scale(1)

@keyframes scale_anim_login
  from
    transform: scale(1)
  to
    transform: scale(1.05)

@keyframes scale_anim_close_login
  from
    transform: scale(1.05)
  to
    transform: scale(1)

@keyframes scale_anim_item
  from
    transform: scale(1)
  to
    transform: scale(1.02)

@keyframes scale_anim_close_item
  from
    transform: scale(1.02)
  to
    transform: scale(1)

.text_button_profile
  margin-left: 20px
  margin-top: 12px
  font-size: 20px
  font-family: MUSEOSANS
  color: white
  user-select: none


.text_button_profile.title
  text-align: center
  margin-top: 20px
  margin-right: 25px

.text_button_profile.down
  margin-top: 0px
  font-family: OCEANIC
  font-size: 20px
  color: rgba(220, 220, 220)

.title_section_panel
  position: absolute
  margin-top: 115px
  margin-left: 295px
  width: 400px
  height: 60px
  font-family: OCEANIC
  font-size: 50px

.left_panel_manager
  position: fixed
  margin-left: 11px
  margin-top: 100px
  width: 256px
  height: calc(100% - 110px)
  background-color: black
  border-radius: 10px

.add_section_panel_mainblock
  display: flex
  flex-direction: column
  flex: none
  position: relative
  width: 364px
  height: 713px
  margin-top: 105px
  border-radius: 10px
  border: solid black 2px


  
.add_section_panel_secondblock
  position: relative
  flex: none
  width: calc(100% - 364px - 20px * 2)
  height: 576px
  margin-top: 105px
  margin-left: 20px
  border-radius: 10px
  border: solid black 2px

.title_thirdblock_panel
  font-family: OCEANIC
  font-size: 35px
  text-align: right
  align-content: center
  position: absolute
  flex: none
  width: calc(100% - 364px - 20px * 2)
  height: 105px
  margin-left: calc(20px + 348px)
  margin-top: calc(105px + 576px + 28px)
  z-index: 16



.add_section_panel_thirdblock
  display: flex
  flex-direction: row
  position: absolute
  flex: none
  width: calc(100% - 364px - 20px * 2)
  height: 105px
  margin-left: calc(20px + 368px)
  margin-top: calc(105px + 576px + 30px)
  border-radius: 10px
  border: solid black 2px
  align-items: center
  z-index: 16

.add_image_button_panel
  position: relative
  margin-left: 7px
  width: 85px
  height: 85px
  background-color: white
  border: solid black 2px  
  border-radius: 10px
  background-position: center
  background-repeat: no-repeat
  background-image: url(../images/panel_icons/plus_icon_black.png)
  background-size: 35px
  user-select: none
  animation: scale_anim_close_login 0.5s backwards
  &:hover
    animation: scale_anim_login 0.5s forwards

  

.add_image_button_panel.hide 
  animation: hide_image_button 0.5s forwards

@keyframes hide_image_button
  0%
    opacity: 1
  100%
    opacity: 0
    visibility: hidden


@keyframes open_image_button
  0%
    opacity: 0
  100%
    opacity: 1


.add_image_button_panel.curimg
  background-image: none

.main_area_manager
  position: absolute 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-left: 290px
  margin-top: 100px
  width: calc(100% - 305px) 
  height: calc(100% - 110px)

.area_of_webitems 
  position: absolute
  margin-top: 100px
  width: 100%
  height: calc(100% - 100px)


.area_of_buttons_panel 
  display: flex
  flex-direction: column
  position: absolute
  width: 100%
  height: 100%


.title_group_panel 
  position: relative
  margin-top: 10px
  padding-left: 15px
  width: calc(100% - 15px)
  height: 60px
  align-content: center
  font-family: OCEANIC
  font-size: 27px
  color: white

.button_panel_with_icon 
  position: relative
  margin-top: 15px
  margin-left: 15px
  width: calc(100% - (15px * 2) - 5px)
  height: 50px
  border: solid white 1px
  border-radius: 10px
  bottom: 20px
  background-color: black
  animation: animation_button_panel_end 0.5s forwards
  &:hover
     animation: animation_button_panel_start 0.5s forwards

.button_panel_with_icon.active
  background-color: #0cdda59c
  margin-left: 0px
  width: 100%
  border-radius: 0px
  animation: animation_button_panel_start_active 0.5s forwards



@keyframes animation_button_panel_start_active
  from
    margin-left: 15px
    width: calc(100% - (15px * 2) - 5px)
    border-radius: 10px
    background-color: black
  to
    background-color: #0cdda59c
    margin-left: 0px
    width: 100%
    border-radius: 0px


@keyframes animation_button_panel_start
  from
    transform: scale(1)
    border: solid white 1px
  to
    transform: scale(1.05)
    border: solid #0cdda4 1px

@keyframes animation_button_panel_end
  from
    transform: scale(1.05)
  to
    transform: scale(1)

.text_area_button_panel 
  position: absolute
  margin-left: 28%
  margin-top: 14px
  font-size: 18px
  color: white
  font-family: MUSEOSANS
  user-select: none

.vertical_line_button_panel 
  position: absolute
  width: 1px
  height: 30px
  margin-top: 10px
  margin-left: 47px
  background-color: white

.indicator_button_active_panel
  position: absolute
  width: 35px
  height: 35px
  margin-left: calc(100% - 45px)
  margin-top: 7px 
  background-size: 28px
  background-image: url(../images/stars_handdraw/star_4_white.png)
  background-position: center
  background-repeat: no-repeat

.icon_area_button_panel 
  position: absolute
  width: 35px
  height: 35px
  margin-left: 7px
  margin-top: 7px
  background-size: 28px
  background-position: center
  background-repeat: no-repeat

.icon_area_button_panel.add_button
  background-size: 23px
  background-image: url(../images/panel_icons/plus_icon.png)


.icon_area_button_panel.change_button
  background-image: url(../images/panel_icons/change_icon.png)

.icon_area_button_panel.sale_button
  background-size: 23px
  background-image: url(../images/panel_icons/sale_icon.png)

.icon_area_button_panel.garant_button
  background-size: 33px
  background-image: url(../images/panel_icons/garant_icon.png)

.icon_area_button_panel.spros_button
  background-size: 26px
  background-image: url(../images/panel_icons/spros_icon.png)


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none
    margin: 0


// @keyframes logo-spin 
//   from 
//     transform: rotate(0deg)
  
//   to 
//     transform: rotate(360deg)
  


// @media (prefers-reduced-motion: no-preference) 
//   a:nth-of-type(2) .logo 
//     animation: logo-spin infinite 20s linear
  


// .card 
//   padding: 2em


// .read-the-docs 
//   color: #888

